.grid_16
  %dl
    .grid_7
      %dt Transformer Name
      %dd
        = " : " + @transformer.transformer_name
    .grid_7
      %dt Equipment No. 
      %dd
        = " : " + @transformer.egatsn
.clear
%br 
.grid_8.suffix_8
  %table
    %thead
      %tr
        %th OLTC Oil Quality
        %th= hi_factor_color
    %tbody 
      %tr
        %td %Oil Quality Factor =
        %td= percent_oil_quality_factor
.clear
%h4 กราฟแสดงความสัมพันธ์ระหว่าง Dielectric Breakdown กับวันทดสอบ
#dielectric_breakdown_graph{:style => "width:900px;height:400px"}
%button{:id => "reset_dielectric_breakdown"} Reset
%br
%h4 กราฟแสดงความสัมพันธ์ระหว่าง Interfacial Tension กับวันทดสอบ
#ift_graph{:style => "width:900px;height:400px"}
%button{:id => "reset_ift"} Reset
%br
%h4 กราฟแสดงความสัมพันธ์ระหว่าง Acidity กับวันทดสอบ
#nn_graph{:style => "width:900px;height:400px"}
%button{:id => "reset_nn"} Reset
%br
%h4 กราฟแสดงความสัมพันธ์ระหว่าง Water Content กับวันทดสอบ
#water_content_graph{:style => "width:900px;height:400px"}
%button{:id => "reset_water_content"} Reset
%br
%h4 กราฟแสดงความสัมพันธ์ระหว่าง Color กับวันทดสอบ
#color_graph{:style => "width:900px;height:400px"}
%button{:id => "reset_color"} Reset
