<div id="transformer_details">
  <div class="grid_8">
    <p><strong>หม้อแปลงไฟฟ้า :</strong><span id="transformer_name"> - </span></p>
  </div>
  <div class="grid_8">
    <p>
      <strong>Equipment No. :</strong><span id="transformer_equipment_no"> - </span>
    </p>
  </div>
  <div class="clear"></div> 
  <div class="grid_8">
    <p>
      <strong>MVA Rating :</strong><span id="transformer_mva_rating"> - </span>
    </p>
  </div>
  <div class="grid_8">
    <p>
      <strong>HV Rating :</strong><span id="transformer_hv_rating"> - </span>
    </p>
  </div>
  <div class="clear"></div> 

  <div class="grid_8">
    <p>
      <strong>First Energized :</strong><span id="transformer_first_energized"> - </span>
    </p>
  </div>
  <div class="grid_8">
    <p>
      <strong>Manufacture :</strong><span id="transformer_manufacture"> - </span>
    </p>
  </div>
  <div class="clear"></div> 
</div>
