<% content_for :javascript do %>
  <%= javascript_include_tag 'controllers/oil_dgas'%>
<% end %>
<h1>Edit Main Tank Dga</h1>
<%= render :partial => 'form' %>
<%= link_to 'Back', oil_input_index_path %>
