<% content_for :javascript do %>
  <%= 
    javascript_include_tag 'jquery.jqplot.min', 'jqplot_plugins/jqplot.cursor',
      'jqplot_plugins/jqplot.dateAxisRenderer', 'controllers/oil_dgas'
    %>
<% end %>

<% content_for :javascript do %>
  <%= stylesheet_link_tag 'jquery.jqplot.min.css' %>
<% end %>	
<style type="text/css">
  .jqplot-cursor-legend {
    width: 160px;
    font-family: "Courier New";
    font-size: 0.85em;
  }

  td.jqplot-cursor-legend-swatch {
    width: 1.3em;
  }

  div.jqplot-cursor-legend-swatch {
    /*      width: 15px;*/}
</style>

<div class="jqPlot" id="h2_chart" style="height:300px; width:600px;"></div> 
<button id="h2" class="reset_zoom">Reset</button>	

<div class="jqPlot" id="ch4_chart" style="height:300px; width:600px;"></div> 
<button id="ch4" class="reset_zoom">Reset</button>	

<div class="jqPlot" id="c2h2_chart" style="height:300px; width:600px;"></div> 
<button id="c2h2" class="reset_zoom">Reset</button>	

<div class="jqPlot" id="c2h4_chart" style="height:300px; width:600px;"></div> 
<button id="c2h4" class="reset_zoom">Reset</button>

<div class="jqPlot" id="c2h6_chart" style="height:300px; width:600px;"></div> 
<button id="c2h6" class="reset_zoom">Reset</button>	


