<div class="grid_16">
  <table>
    <thead>
      <tr>
        <th>Transformer Condition Criteria</th>
        <th>HIF</th>
        <th>Condition</th>
        <th>Recent Date</th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Recent Date</td>
        <td><%= @oil_dgas.first.hif_factor.hi_factor %></td>
        <td>
					<%= hif_color(@oil_dgas.first.hif_factor, @oil_dgas) %>
				</td>
        <td><%= @oil_dgas.first.test_date %></td>
      </tr>
    </tbody>
  </table>
</div>
