.grid_5
	.box
		%h2
			Importance Index
		.utils
		%p
			%strong
				= link_to '1. View Graph', transformer_informations_path
			%br
			%strong
				= link_to '2. New Record', new_transformer_information_path
			%br
			%strong
				= link_to '3. Search', search_transformer_informations_path