<p>
<%= label :transformer_information, :application_use_id, "Application Use" %>
<%= 
  @application_uses = ApplicationUse.where("value IS NOT NULL").order("score").all
  f.collection_select(:application_use_id,  @application_uses, :id, :value, 
                      {:prompt => true}) 
%>        
</p>