<p>
  <%= label :transformer_information, :bus_voltage_lv_id, 
            "Bus Voltage LV side [kV]" %>
  <%= 
    @bus_voltage_lvs = BusVoltageLv.order("CAST(value as UNSIGNED)").all
    f.collection_select(:bus_voltage_lv_id,  @bus_voltage_lvs, :id, :value, 
                        {:prompt => true}) 
  %>
</p>
