<h5 class="legend"><span class="label">Damage Of Property</span></h5>
<% for damage_of_property in DamageOfProperty.find(:all)%>                
<div class="grid_1">
  <%= check_box_tag 'transformer_information[damage_of_property_ids][]', 
      damage_of_property.id, 
      @transformer_information.damage_of_properties.
      include?(damage_of_property), 
      :id => "damage_of_property_#{damage_of_property.value}"%>
  
</div>
<div class="grid_15">
  <strong><%= damage_of_property.value  + ' ' + damage_of_property.message %><strong>
</div>
<div class="clear"></div> 

<% end %>


