<p>
<%= label :transformer_information, :pollution_id, "Pollution" %>
<%= 
  @pollutions = Pollution.where("value IS NOT NULL").order("score").all
  f.collection_select(:pollution_id,  @pollutions, :id, :value, 
                      {:prompt => true}) 
%>        
</p>