<p>
  <%= label :transformer_information, :probability_of_force_outage_id, 
            "Probability Of Force Outage" 
  %>
  <%= f.select(:probability_of_force_outage_value,  (1..10), {:prompt => true}) %>
</p>