<p>
<%= label :transformer_information, :public_image_id, "Public Image" %>
<%= @public_images = PublicImage.where("value IS NOT NULL").order("score").all
    f.collection_select(:public_image_id,  @public_images, :id, :value, 
                        {:prompt => true}) 
%>        
</p>