<p>
  <%= label :transformer_information, :social_aspect_id,'Social Aspect' %>
  <%= 
    @social_aspects = SocialAspect.where("value IS NOT NULL").order("score").all
    f.collection_select(:social_aspect_id,  @social_aspects, :id, 
                        :value, {:prompt => true}) 
  %>
</p>