<p>
<%= label :transformer_information, :system_stability_id, "System Stability" %>
<%= @system_stabilities = SystemStability.find(:all, 
                                               :conditions => "value IS NOT NULL", 
                                               :order => 'score')
f.collection_select(:system_stability_id,  @system_stabilities, :id, :value, 
                    {:prompt => true}) %>        
</p>