<p>
  <%= label :transformer_information, :system_location_id, "System Location" %>
  <%= @system_locations = SystemLocation.order("score").all
      f.collection_select(:system_location_id,  @system_locations, :id, 
                         :value, {:prompt => true}) %>        
</p>