<![if !IE]><p><![endif]>
  <%= label :transformer_information, :transformer_id, "Transformer Name" %>
  <% if controller.action_name == 'new' || controller.action_name == 'create' %>
  <%= 
     @transformers = Transformer.find(:all, :order => 'transformer_name')    
  f.collection_select(:transformer_id,  @transformers, :id,
  :transformer_name,{:include_blank => true}) 
  %>  
  <% else %>
  <strong><%= @transformer_information.transformer.transformer_name %></strong>
  <% end %>

<![if !IE]></p><![endif]>