<% content_for :javascript do %>
<%= javascript_include_tag 'controllers/transformer_informations'%>
<% end %>
<style type="text/css">
		/* TODO shouldn't be necessary */
		.ui-button { margin-left: -1px; }
		.ui-button-icon-only .ui-button-text { height: 1.2em; padding: 0.35em;  margin-top: -0.2em; } 
		.ui-autocomplete-input { margin: 0; padding: 3px 2px; }
    .fieldWithErrors {
      padding: 2px;
      background-color: red;
     
    }
	</style>

<h1>Edit Transformer Information</h1> 
<div class="span-24 last"> 
  <%= render :partial => 'form' %>
</div>
</hr>


<p>
  <%= link_to "Show", @transformer_information %> |
  <%= link_to "View All", transformer_informations_path %>
</p>
