<div class="grid_16">
  <table>
    <thread>
      <tr>
        <th></th>
        <th>Importance Index</th>
        <th>Probability of Failure</th>
        <th>Definition</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td></td>
        <td>100 % Focus</td>
        <td> - </td>
        <td><%= @transformer_information.importance.importance %></td>
        <td><%= @transformer_information.importance.action %></td>
      </tr>
      <tr>
      </tr>      
    </tbody>
  </table>
</div>
