<% content_for :javascript do %>
  <%= javascript_include_tag 'jquery.flot.min.js','jquery.flot.selection.min.js',
    'jquery.flot.axislabels.js',
                           'controllers/transformer_informations.js'%>
<% end %>

<div id="placeholder" style="width:900px;height:480px"></div>

