label.inline {
	width: 200px;
	display: inline !important;
	float: left;
}

#insulating_oil_test_type, #insulating_oil_oil_temp, #insulating_oil_test_date, 
#insulating_oil_ambient_temp, #insulating_oil_work_order, 
#insulating_oil_humidity {
	width: 150px;
}

form .xi {
	width: 60px;
}

#insulating_oil_test_kv_maintank, #insulating_oil_test_kv_oltc {
	width: 40px;
}

#insulating_oil_current_avg_maintank, #insulating_oil_current_avg_oltc, 
#insulating_oil_watt_avg_maintank, #insulating_oil_watt_avg_oltc {
	width: 50px;
}

#insulating_oil_avg_percent_power_factor_maintank, 
#insulating_oil_avg_percent_power_factor_oltc {
	width: 90px;
}

#insulating_oil_cor_percent_power_factor_maintank,
#insulating_oil_cor_percent_power_factor_oltc {
	width: 90px;
}

#insulating_oil_remark_maintank, #insulating_oil_remark_oltc {
	width: 240px;
}

input[type="text"].dotted {
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-topleft: 2px;
	border: 1px dotted;
}

label[for="insulating_oil_cf"] {
	display: inline;
}

#insulating_oil_cf {
	width: 50px;
}

label[for="insulating_oil_gap_distance_maintank"],
label[for="insulating_oil_gap_distance_oltc"] {
  display: inline;
  font-size: 14px;
}

#insulating_oil_gap_distance_maintank, #insulating_oil_gap_distance_oltc {
  width: 50px;
  display: inline;
}

th {
	font-size: 12px;
}

th, td {
	text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

input[type="submit"].cupid-green, button.cupid-green {
  width: 730px;
}