input[type="submit"].cupid-green, button.cupid-green {
  width: 730px;
}

label.inline {
	width: 300px;
	display: inline !important;
	float: left;
}

.grid_12 select, input[type="text"] {
	width: 200px;
}

select, input[type="text"] {
	display: inline !important;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
}

/* Vertical Tabs ----------------------------------*/
.ui-tabs-vertical { 
	width: 68em; 
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em; 
	float: left; 
	width: 16em; 
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left; 
	width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 
	margin: 0 -1px .2em 0; 
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display:block; 
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0; 
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
	padding-left: 2em;
	float: left; 
	width: 40em;
}
