%h2 11. OLTC Compartment
%dl
  .grid_8.suffix_8
    %dt
      = description_for :corrosion, :oltc_compartments
    %dd
      = " : " + condition(visual_inspection, OltcCompartment, :corrosion)
  .grid_8.suffix_8
    %dt
      = description_for :oil_fail, :oltc_compartments
    %dd
      = " : " + condition(visual_inspection, OltcCompartment, :oil_fail)