%table#visual_inspections_table
  %thead
    %tr
      %th Date
      %th Action
  %tbody
  - @visual_inspections.each do |visual_inspection|
    %tr
      %td
        = visual_inspection.test_date.strftime("%d/%m/%Y")
      %td{:colspan => 3}
        = show_visual_inspection_link(@transformer, visual_inspection)
        |
        = edit_visual_inspection_link(@transformer, visual_inspection)
        |
        = delete_visual_inspection_link(@transformer, visual_inspection)