#transformer_details
  .grid_8
    %p
      %strong
        หม้อแปลงไฟฟ้า :
      %span#transformer_name
        -
  .grid_8
    %p
      %strong
        Equipment No. :
      %span#transformer_equipment_no
        -
  .clear
  .grid_8
    %p
      %strong
        MVA Rating:
      %span#transformer_mva_rating
        -
  .grid_8
    %p
      %strong
        HV Rating :
      %span#transformer_hv_rating
        -
  .clear
  .grid_8
    %p
      %strong
        First Energized:
      %span#transformer_first_energized
        -
  .grid_8
    %p
      %strong
        Manufacture :
      %span#transformer_manufacture
        -
  .clear
