%h1
  Oil Test
= form_for :oil_dga do |form|
  .grid_3.prefix_4
    = label :transformer_information, :transformer_id, "หม้อแปลงไฟฟ้า" 
  .grid_4
    = transformer_names_drop_down_list(form)
  .clear

