<h1 id="head">EGAT - PTU</h1>
 <ul class="nav main"> 
   <li> 
     <a href="12/">Importance Index</a> 
     <ul> 
       <li><a href="/transformer_informations">Graph</a></li> 
       <li><a href="/transformer_informations/new">New</a></li> 
       <li><a href="#">Edit</a> 
       </li> 
     </ul> 
   </li> 
 </ul> 
